*{
	-webkit-touch-callout:none;
	-webkit-user-select:none;
}

a:link {
	color:white;
	text-decoration:none;
}   

a:visited {
	color:white;
	text-decoration:none;
}  

a:hover {
	color:white;
	text-decoration:none;
} 

a:active {
	color:white;
	text-decoration:none;
} 
.italic{
	font-style:italic;
}


#connect{
	background-image: url("../images/Default@2x.png");
	background-repeat:no-repeat;
	background-size:100% 100%;
	height:100%;
}
#connectContent{
	background-color: transparent;
	padding-top:300px;
	background-image:none;

}

#connecting{
	position:absolute;
	top:200px;
	left:50%;
}
/*Party list*/
.ui-li .featured{
	position: absolute;
	top:0px;
	right:0px;
	max-height:25px;
}


 /*Stream*/
 .ui-li .text-stream{
 	width: 60%;
 	font-weight: bold;
 	font-size: 0.7em;
 }

.day-stream{
	margin-top: 20px
}
.ui-li .poster-stream{
	position: absolute;
	top:0px;
	right:0px;
	height:100%;
}

.ui-li .profile-stream{
	height: 100%;
	width: auto;
}


 /*Party page*/
 #party-error{
 	font-size: 0.8em;
 	display: none;
 	font-style: italic;
 }
 #party-desc{
 	margin-top:15px;
 }

#profilePictureImg{
	
	max-height:100px;
	max-width:100%;
	
}

.poster  {
	width: 93%; 
	height: 100px; 
	margin: 2px;
	border: solid white 1px!important;

}

#cancel-confirm-patch{
	background:#6B1A22;
}
#patch-confirm .ui-header a {
	display: none;
}
#patch-back {
	display:none;
}

#patch-done {
	display:none;
}
.patch {
	text-align: center;
}

.patchImg{
	width: 60px; 
	height:auto;
}

.locked {
	opacity: 0.3;
}


#singlepatch{
	max-width:65%;
	max-height:65%;
	margin: auto;

}
#patchContent{
	text-align: center;
}

#FBLogout {
	margin-top: 25px;
	border:1px solid #6B1A22;
	background:#6B1A22;
	text-shadow:0 1px 1px #6B1A22;
	background-image: linear-gradient(bottom, #6B1A22 26%, #C92828 82%);
	background-image: -o-linear-gradient(bottom, #6B1A22 26%, #C92828 82%);
	background-image: -moz-linear-gradient(bottom, #6B1A22 26%, #C92828 82%);
	background-image: -webkit-linear-gradient(bottom, #6B1A22 26%, #C92828 82%);
	background-image: -ms-linear-gradient(bottom, #6B1A22 26%, #C92828 82%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.26, #6B1A22),
		color-stop(0.82, #C92828)
	);
	
	
}
/*Custom Icons*/
.ui-icon-fbConnect{
	background-image: url("../images/facebook.png");
	width: 20px!important;
	height: 20px!important;
	background-color: transparent;
	background-size: 20px 20px;
	-moz-border-radius:     0;
    -webkit-border-radius:  0;
    border-radius:          0;
    margin-left:12px;
}
.ui-icon-footbar-panemerkille-profile {
	background-image: url("../images/footbar-panemerkille-profile.png");
	
	width: 36px!important;
	height: 36px!important;
	margin-left: -15px !important;
	
	background-color: transparent;
	background-size: 36px 36px;
}
.ui-navbar .ui-btn-icon-top .ui-btn-inner {
/*padding-top: 5px;*/
height:15px;
}

.ui-icon-footbar-panemerkille-friends {
	background-image: url("../images/footbar-panemerkille-friends.png");
	width: 36px!important;
	height: 36px!important;
	margin-left: -15px !important;
	background-color: transparent;
	background-size: 36px 36px;
}

.ui-icon-footbar-panemerkille-patches {
	background-image: url("../images/footbar-panemerkille-patches.png");
	width: 36px!important;
	height: 36px!important;
	margin-left: -15px !important;
	background-color: transparent;
	background-size: 36px 36px;
}

.ui-icon-footbar-panemerkille-parties {
	background-image: url("../images/footbar-panemerkille-parties.png");
	width: 36px!important;
	height: 36px!important;
	margin-left: -15px !important;
	background-color: transparent;
	background-size: 36px 36px;
}



.pos-left{
	width:33% !important;
	font-weight: bold;
	font-family: 'Lobster Two';
}

.pos-right{
	width:67% !important;
	

}

.box-padding{
	padding-left:10px;
	padding-right:10px;
}

#posterImg {
	max-width:95%;
	margin-bottom:20px;
}

/*#picture_url{
	max-width: 95%;
}*/


/*Poster Wall*/
#checkinContent img{
	max-width:95%;
	max-height:85%;
	border: solid white 2px!important;
}

#checkinContent {
	text-align:center;
}

/*Font*/

@font-face{
	font-family: 'Lobster Two';
	src: url('../font/LobsterTwo-Bold.otf');
}

.ui-header .ui-title, .ui-footer .ui-title, .ui-li-divider, .ui-li-heading {
font-family: 'Lobster Two';
}

/*Checkin page*/
.page-joined .ui-listview .ui-li-icon {
max-height: 30px !important;
max-width: 30px !important;
left: 6px !important;
top: 4px !important;
}



.warningIcon {
	text-align: center;
}
